{% trans_default_domain 'FOSUserBundle' %}
<body style="background-color: #edf1f7 ">
<div style="
     margin:auto;
     margin-top: 30px;
     width: 35%; 
     border: 2px solid #9096a0;
     padding: 40px;
     background-color:#dcdee2;">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
</body>